@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  background-color: #eceff1;
  color: #010b40;
  width: 100%;
  height: 100vh;
}

.app {
  background-color: #0e4d92;
  margin: 0 auto;
  margin-top: 35vh;
  width: 300px;
  height: 200px;
  position: relative;
  border-radius: 10px;
}

.stopwatch-card {
  width: 300px;
  height: 130px;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

button {
  outline: none;
  background: transparent;
  border: 1px solid blue;
  padding: 5px 10px;
  border-radius: 7px;
  color: blue;
  cursor: pointer;
}

.numberBox {
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
}