@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  background-color: #eceff1;
  color: #010b40;
  width: 100%;
  height: 100vh;
}